<div class="section-container" id="contact">
  <h1 class="section-title">Contact_Me</h1>
  <p>If you’d like to collaborate, discuss a project, or just say hello—here's how to reach me.</p>

  <mat-card>
    <mat-card-content>

      <div class="contact-item">
        <mat-icon class="material-icons" color="primary">email</mat-icon>
        <a href="mailto:yeison@example.com" class="undecorated-link">yeisoncardona&#64;dunderlab.com</a>
      </div>

      <div class="contact-item">
        <mat-icon class="material-icons" color="primary">location_on</mat-icon>
        <span class="undecorated-link">Manizales, Caldas, Colombia</span>
      </div>

      <div class="contact-item">
        <mat-icon class="material-icons" color="primary">description</mat-icon>
        <a href="assets/resume.pdf" download class="undecorated-link">Download CV</a>
      </div>

      <div class="contact-item">
        <mat-icon class="material-icons" color="primary">link</mat-icon>
        <a href="https://www.linkedin.com/in/yeisoncardona" target="_blank" rel="noopener" class="undecorated-link">LinkedIn
          Profile</a>
      </div>

      <div class="contact-item">
        <mat-icon class="material-icons" color="primary">chat</mat-icon>
        <a
          href="https://wa.me/573008729952"
          target="_blank"
          rel="noopener"
          class="undecorated-link"
        >Send me a WhatsApp</a>
      </div>


    </mat-card-content>
  </mat-card>
</div>
