.section-container {
  text-align: center;
  font: var(--mat-sys-display-large);
  padding-top: 30vh;
  box-sizing: border-box;
}

.section-container .name {
  color: var(--mat-sys-primary);
}

.section-container .button {
  margin-top: 6vh;
  zoom: 1.5;
}

@media screen and (max-width: 768px) {
  .section-container {
    font: var(--mat-sys-display-small);
    padding-top: 20vh;
  }

  .section-container .button {
    margin-top: 4vh;
    zoom: 1.2;
  }
}
