<mat-card appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="project-header-image"
         [style.background-image]="'url(' + project.headerImage + ')'"></div>
    <mat-card-title>{{ project.title }}</mat-card-title>
    <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ project.imageUrl }}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{ project.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    @for (tech of project.technologies; track tech) {
      <i class="{{ tech }}"></i>
    }
  </mat-card-actions>


  <mat-card-actions align="end">
    <a mat-button [href]="project.githubUrl" target="_blank">
      <mat-icon>open_in_new</mat-icon>
      View on GitHub
    </a>
  </mat-card-actions>

</mat-card>
