@use '@angular/material' as mat;
@import "devicon/devicon.min.css";

:root {

}

body {
  margin: 0;
  padding-bottom: 128px;
}

html {
  //color-scheme: dark;
  background-color: var(--mat-sys-surface-dim);
  @include mat.theme((
    //color: (
    //  primary: mat.$azure-palette,
    //),
    typography: (
      plain-family: 'Raleway',
      brand-family: 'Hepta Slab',
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),

    density: 0,
    use-system-variables: true,
  ));
}


.undecorated-link,
.undecorated-link:hover {
  text-decoration: none;
  color: inherit;
}

.underline-link:hover {
  text-decoration: underline;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-container {
  width: 100%;
 }

.section-title {
  padding-top: 5vh;
}


.break-page-container {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

p {
  font: var(--mat-sys-body-large);
  zoom: 1.25;
  padding: 3vw;
  text-align: left;
}





.section-title {
  font: var(--mat-sys-display-medium);
  text-align: center;
  text-transform: capitalize;
}
.section-title::before {
  content: "#";
  color: var(--mat-sys-primary);
}

b.accent {
  color: var(--mat-sys-primary);
  font-weight: 500;
}


.project-description--p {
  zoom: 1;
}



/* XSmall: max-width: 599.98px */
@media (max-width: 599.98px) {
  /* Styles for extra small screens */
  p {
    zoom: 0.9;
  }

  .project-description--p {
    zoom: 0.9;
  }


}

/* Small: 600px - 959.98px */
@media (min-width: 600px) and (max-width: 959.98px) {
  /* Styles for small screens */
}

/* Medium: 960px - 1279.98px */
@media (min-width: 960px) and (max-width: 1279.98px) {
  /* Styles for medium screens */
}

/* Large: 1280px - 1919.98px */
@media (min-width: 1280px) and (max-width: 1919.98px) {
  /* Styles for large screens */
}

/* XLarge: min-width: 1920px */
@media (min-width: 1920px) {
  /* Styles for extra large screens */
}

