@use '@angular/material' as mat;
@import "devicon/devicon.min.css";

:root {

}

body {
  margin: 0;
}

html {
  color-scheme: dark;
  //background-color: var(--mat-sys-surface-tint);
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
    ),
    typography: (
      plain-family: 'Raleway',
      brand-family: 'Hepta Slab',
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),

    density: 0,
    use-system-variables: true,
  ));
}


.undecorated-link,
.undecorated-link:hover {
  text-decoration: none;
  color: inherit;
}

.underline-link:hover {
  text-decoration: underline;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  //padding: 6vw; /* Added top padding to account for the navbar */
}

.section-container {
  height: calc(100vh - 90px);
  width: 100%;
  padding-top: 90px;
 }


.section-container#welcome {
  min-height: 100vh;
}



.break-page-container {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

p {
  font: var(--mat-sys-body-large);
  zoom: 1.25;
}

.section-title {
  font: var(--mat-sys-display-medium);
  text-align: center;
  text-transform: capitalize;
}
.section-title::before {
  content: "#";
  color: var(--mat-sys-primary);
}

b.accent {
  color: var(--mat-sys-primary);
  font-weight: 500;
}
