.project-card {
  display: flex;
  flex-wrap: wrap;
}


.project-card app-project {
  box-sizing: border-box;
  //padding: 10px;
}


@media (max-width: 959.98px) {
  .project-card app-project {
    width: 100%;
  }
}
