<div class="section-container section-container--{{breakpoint}}" id="about">

  <h1 class="section-title">About</h1>

  <mat-grid-list [cols]="cols" rowHeight="1:0.6">

    <mat-grid-tile [colspan]="colspan" [rowspan]="rowspan">
      <p>
        Curious by nature, I love solving complex problems with simple, elegant code.
        I focus on clarity, performance, and continuous improvement—
        always learning, always building.
      </p>
    </mat-grid-tile>

    @for (tool of tools; track tool) {
    <mat-grid-tile class="tool-icon tool-icon--size{{tool.colspan}} tool-icon--vsize{{tool.zoom}}" [colspan]="tool.colspan">
      <i class="{{tool.icon}}" [class.colored]="tool.colored"></i>
    </mat-grid-tile>
    }

  </mat-grid-list>

</div>
